.tile-container-parent {
    height: 400px;
}

.tile-container {
    transform-origin: top left;
}

.parent {
    padding: 10px;
    border: solid grey 1px;
    border-radius: 10px;
    color: red;
}

.tile {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    border: solid grey 1px;
    border-radius: 10px;
    color: red;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile.highlighted {
    background-color: peachpuff;
}
