.tile-container {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
}

.parent {
    padding: 10px;
    border: solid grey 1px;
    border-radius: 10px;
    color: red;
}

.tile {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    border: solid grey 1px;
    color: red;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile.highlighted {
    background-color: peachpuff;
}
